[submodule "external/tinyexr"]
	path = external/tinyexr
	url = git://github.com/syoyo/tinyexr.git
[submodule "external/TinyParser-Mitsuba"]
	path = external/TinyParser-Mitsuba
	url = git://github.com/PearCoding/TinyParser-Mitsuba.git
